body {
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
  color: #000000;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
}

a {
  text-decoration: none;
}

img { 
  max-width:100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto; 
  
  box-sizing: border-box;
}

.button {
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f3f7f9;
  padding: 0;
  margin: 0;
  padding-bottom: 60px;
  margin-bottom: 50px;
}

.main-header-menu-container {
  display: flex;
  margin-bottom: 46px;
}

.index-title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-weight: normal;
  
  width: 300px;
  
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-left: 52px;
  margin-right: 20px;
  box-sizing: border-box;
}

.main-header-menu {
  background-color: #293449;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.main-header-logo {
  background-color: #ee3643;
  
  width: 220px;
  height: 42px;
  
  position: relative;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.main-header-logo::before {
  content: "";
  position: absolute;
  
  background-color: #b52933;
  width: 220px;
  height: 5px;
  
  top: 42px;
}

.main-header-logo:hover::before {
  background-color: #9a212a;
}

.main-header-logo:active::before {
  background-color: #8e1e26;
}

.main-header-logo img {
  position: absolute;
  right: 56px;
  top: 13px;
}

.search-form {
  position: relative;
}

.icon-search-red {
  position: absolute;
  top: 12px;
  left: 17px;
  fill: #fff;
  opacity: 0.3;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-field:hover + .icon-search-red {
  opacity: 1;
}

.search-field:focus + .icon-search-red {
  fill: red;
  opacity: 1;
}

.search-field {
  background-color: transparent;
  border: none;
  color: #ffffff;
  width: 270px;
  
  padding: 11px 0 12px 48px;
  box-sizing: border-box;
}

.search-field:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-field::placeholder {
  color: #ffffff;
}

.user-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  
  max-width: 450px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-menu a {
  color: #ffffff;
  
  display: block;
  width: 150px;
  
  padding: 12px 20px;
  box-sizing: border-box;
}

.user-menu .user-menu-bookmarks {
  padding-left: 44px;
  position: relative;
}

.user-menu-bookmarks::before {
  content: "";
  position: absolute;
  
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  width: 16px;
  height: 18px;
  left: 17px;
  top: 12px;
  
  opacity: 0.3;
}

.user-menu-bookmarks:hover::before,
.user-menu-bookmarks:focus::before{
  opacity: 1;
}

.user-menu-bookmarks:active::before {
  opacity: 0.5;
}

.user-menu .user-menu-basket {
  padding-left: 49px;
  position: relative;
}

.user-menu-basket::before {
  content: "";
  position: absolute;
  
  background: url("../img/icon-basket.svg") no-repeat 0 0;
  width: 16px;
  height: 18px;
  left: 18px;
  top: 12px;
  
  opacity: 0.3;
}

.user-menu-basket:hover::before,
.user-menu-basket:focus::before{
  opacity: 1;
}

.user-menu-basket:active::before {
  opacity: 0.5;
}

.user-menu-bookmarks:hover,
.user-menu-basket:hover {
  background-color: #212a3a;
}

.user-menu-bookmarks:active,
.user-menu-basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-menu .user-menu-order {
  padding-left: 20px;
  padding-right: 22px;
  background-color: #63a63e;
}

.user-menu-order:hover {
  background-color: #5fbb2d;
}

.user-menu-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-contacts-title-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 39px;
}

.main-header-contacts {
  width: 300px;
  margin-right: auto;
}

.header-contacts-telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  
  display: block;
  position: relative;
  
  width: 270px;
  text-align: center;
  padding: 9px 0;
  padding-left: 21px;
  box-sizing: border-box;
}

.header-contacts-telephone::before {
  content: "";
  position: absolute;
  
  background: url("../img/icon-phone.svg") no-repeat 0 0;
  width: 19px;
  height: 19px;
  
  left: 12px;
  top: 10px;
}


.header-contacts-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 10px;
}

.main-header-user-navigation {
  list-style: none;
  font-size: 0;
  
  margin: 0;
  padding: 0;
}

.main-header-user-navigation li {
  display: inline-block;
  vertical-align: middle;
}

.main-header-user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  
  display: block;
  text-align: center;
  padding: 12px 24px;
  box-sizing: border-box;
}

.main-header-user-navigation .login-button {
  margin-right: 10px;
  padding-right: 26px;
  padding-left: 50px;
  position: relative;
}

.main-header-user-navigation .login-button:before {
  content: "";
  position: absolute;
  
  background: url("../img/icon-login.svg") no-repeat 0 0;
  opacity: 0.3;
  width: 20px;
  height: 17px;
  
  left: 17px;
  top: 14px;
}

.main-header-user-navigation .login-button:hover::before {
  opacity: 1;
}

.main-header-user-navigation .login-button:active::before {
  opacity: 0.3;
}

.main-header-user-navigation a:hover {
  color: #ee3643;
}

.main-header-user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-header-site-navigation {
  list-style: none;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  
  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-right: 20px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.main-header-site-navigation a {
  color: #ffffff;
  display: block;
  
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 31px;
  padding-right: 31px;
}

.main-header-site-navigation a:hover {
  background-color: #293449;
}

.main-header-site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
}

.advantages {
  padding-top: 9px;
  padding-bottom: 53px;
  
  display: flex;
  flex-wrap: wrap;
}

.advantages-top-block {
  padding: 0;
  margin: 0;
  list-style: none;
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.advantages-bottom-block {
  padding: 0;
  margin: 0;
  list-style: none;
  
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 22px;
  
  position: relative;
  width: 300px;
  background-color: #a9e5e5;
  
  box-sizing: border-box;
}

.advantages-item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.advantages-item a {
  display: inline-block;
  vertical-align: middle;
  width: 135px;
  padding: 10px;
  margin-left: 2px;
  
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
}

.advantages-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.advantages-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-materials {
  background-color: #ffbf47;
}

.advantages-item-materials::after {
  content: "";
  position: absolute;
  background-image: url("../img/advantages-item-materials.png");
  background-repeat:  no-repeat;
  left: 213px;
  bottom: 27px;
  width: 44px;
  height: 65px;
}

.advantages-item-instrument {
  background-color: #3bbce3;
}

.advantages-item-instrument::after {
  content: "";
  position: absolute;
  background-image: url("../img/advantages-item-instrument.png");
  background-repeat:  no-repeat;
  left: 197px;
  bottom: 29px;
  width: 75px;
  height: 61px;
}

.advantages-item-machines {
  position: relative;
  background-color: #dc91d8;
}

.advantages-item-machines::after {
  content: "";
  position: absolute;
  background-image: url("../img/advantages-item-machines.png");
  background-repeat:  no-repeat;
  left: 191px;
  bottom: 30px;
  width: 78px;
  height: 62px;
}

.advantages-item-discount {
  background-color: #8ed78f;
}

.advantages-item-discount::after {
  content: "";
  position: absolute;
  background-image: url("../img/advantages-item-discount.png");
  background-repeat:  no-repeat;
  left: 196px;
  bottom: 25px;
  
  width: 59px;
  height: 72px;
}

.advantages-item-delivery {
  background-color: #ffc047;
}

.advantages-item-delivery::after {
  content: "";
  position: absolute;
  background-image: url("../img/advantages-item-delivery.png");
  background-repeat:  no-repeat;
  left: 191px;
  bottom: 28px;
  
  width: 78px;
  height: 63px;
}

.advantages-slider {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  
  width: 620px;
}

.advantages-slider h3 {
  margin: 0;
  
  padding: 0;
  
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.advantages-slider p {
  margin: 0;
  margin-bottom: 130px;
  padding: 0;
  
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.advantages-slider-item {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;

  box-sizing: border-box;
}

.advantages-slider-button {
  padding: 11px 48px;
  
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #ee3643;
  border-radius: 3px;
}

.advantages-slider-button:hover {
  background-color: #ca2c37;
}

.advantages-slider-button:active {
  background-color: #ba2732;
}

.advantages-slider-item .to-left-slide {
  font-size: 0;
  border: none;
  
  background: url("../img/icon-left-slide.svg") no-repeat 0 0;
  width: 22px;
  height: 40px;
  position: absolute;
  
  top: 115px;
  left: 25px;
}

.advantages-slider-item .to-right-slide {
  font-size: 0;
  border: none;
  
  background: url("../img/icon-right-slide.svg") no-repeat 0 0;
  width: 22px;
  height: 40px;
  position: absolute;
  
  top: 115px;
  right: 20px;
}

.advantages-slider-item span {
  font-size: 0;
  
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  
  top: 220px;
  left: 315px;
}
.advantages-slider-item span:first-of-type {
  left: 295px;
}


.advantages-slider-item span:first-of-type::after {
  content: "";
  font-size: 0;
  
  display: block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  
  top: 2px;
  left: 2px;
}


.advantages-slider-item-perforators {
  background-color: #d4c5b3;
  background: url(../img/advantages-slider-1.jpg) no-repeat 0 0;
  
  width: 620px;
  height: 266px;
  display: none;
}

.advantages-slider-item-drills {
  background-color: #7a6057;
  background: url(../img/advantages-slider-2.jpg) no-repeat 0 0;
  
  width: 620px;
  height: 266px;
}

.popular-goods {
  font-family: PT Sans, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 21px;
}

.popular-goods-manufactures-head {
  background-color: #f9f5f0;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 23px;
  padding-top: 26px;
  padding-bottom: 25px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.popular-goods-manufactures-head h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
  
  padding: 0;
  margin: 0;
}

.popular-goods-manufactures-head .popular-goods-button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  
  padding: 0;
  padding: 10px 56px;
  margin: 0;
  
  border-radius: 3px;
}

.goods-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
}

.popular-goods h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.popular-manufactures {
  margin-bottom: 20px;
  padding-bottom: 45px;
}

.popular-manufactures .popular-manufactures-button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  
  padding: 0;
  padding: 10px 70px;
  margin: 0;
  
  border-radius: 3px;
}

.manufactures-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
}

.manufactures-catalog-item {
  width: 220px;
  height: 145px;
  
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  margin-bottom: 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufactures-catalog-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufactures-catalog-item:active {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  background-color: #f4f8f9;
  color: #000000;
  padding-top: 65px;
  padding-bottom: 89px;
}

.services .slider {
  display: none;
}

.services .slider-current {
  display: block;
}

.services-head {
  margin-bottom: 67px;
}

.services .services-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services p {
  margin: 0;
  padding: 0;
  
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.services-delivery {
  display: flex;
}

.services-list {
  padding: 0;
  margin: 0;
  margin-right: 80px;
  list-style: none;
  width: 240px;
  position: relative;
}

.services-list::after {
  content: "";
  position: absolute;
  background: url(../img/shadow.png) no-repeat 0 0;
  width: 10px;
  height: 272px;
  
  left: 230px;
  top: -40px;
}

.services-list .services-list-item {
  display: block;
  
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 17px;
  padding-bottom: 14px;
  padding-left: 22px;
  
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  
}

.services-list .services-list-item:hover {
  background-color: #293449;
}

.services-list .services-list-item-current {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
  border: none;
}

.services-list .services-list-item-current:hover {
  background-color: #ffffff;
}

.about-service {
  width: 380px;
  position: relative;
}

.about-service .about-services-text {
  margin-bottom: 40px;
}

.services-delivery img {
  position: absolute;
  left:  151px;
  top: 25px;
  max-width: 468px;
  height: 261px;
}

.services-guarantee img {
  position: absolute;
  left: 240px;
  top: 0;
  max-width: 389px;
  height: 283px;
}

.services-credit img {
  position: absolute;
  left: 240px;
  top: 0;
  max-width: 465px;
  height: 285px;
}

.about-service .button {
  color: #ffffff;
  background-color: #ff5357;
  
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  
  padding: 10px 45px;
  border-radius: 3px;
}

.about-service .button:hover {
  background-color: #ca2c37;
}

.about-service .button:active {
  background-color: #ba2732;
}

.about-us-contacts-container {
  display: flex;
  position: relative;
  
  padding-top: 79px;
  padding-bottom: 85px;
}

.about-us {
  width: 540px;
  
  margin-right: auto;
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  
  text-transform: uppercase;
}

.about-us p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.about-us p:last-of-type {
  margin-bottom: 21px;
}

.transport-company-list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  
  margin: 0;
  padding: 0;
  
  padding-left: 36px;
}

.transport-company-list li:not(:last-child) {
  margin-bottom: 20px;
}

.transport-company-list li:last-child {
  margin-bottom: 36px;
}

.transport-company-list li {
  position: relative;
}

.transport-company-list li:before {
  content: "";
  position: absolute;
  
  width: 25px;
  height: 2px;
  
  background-color: #ee3643;
  
  left: -36px;
  top: 9px;
}

.about-us .button {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  width: 220px;
  text-align: center;
  padding: 11px 0;
  
  background-color: #ee3643;
  border-radius: 3px;
  
  box-sizing: border-box;
} 

.about-us .button:hover {
  background-color: #ca2c37;
}

.about-us .button:active {
  background-color: #ba2732;
}

.contacts {
  position: relative;
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.contacts p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.contacts img {
  margin-bottom: 37px;
}

.contacts .button {
  font-size: 14px;
  color: #ffffff;
  
  display: block;
  width: 298px;
  text-align: center;
  padding: 11px 0;
  padding-left: 2px;
  
  border-radius: 3px;
  text-transform: uppercase;
  
  background-color: #ee3643;
}

.contacts .button:hover {
  background-color: #ca2c37;
}

.contacts .button:active {
  background-color: #ba2732;
}

.main-footer-logo {
  background-color: #ee3643;
  position: relative;
  
  width: 220px;
  height: 68px;
  margin-right: 170px;
  
  box-sizing: border-box;
}

.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}

.main-footer-logo::before {
  content: "";
  position: absolute;
  
  background-color: #b52933;
  width: 220px;
  height: 5px;
  
  top: 63px;
}

.main-footer-logo:hover::before {
  background-color: #9a212a;
}

.main-footer-logo:active::before {
  background-color: #8e1e26;
}

.main-footer-logo img {
  position: absolute;
  top: 20px;
  left: 40px;
}

.main-footer {
  background-color: #32425c;
}

.main-footer-contacts {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.main-footer-site-navigation-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  width: 550px;
  
  margin: 0;
  padding: 0;
  margin-top: 38px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer-site-navigation-list a {
  display: block;
  color: #ffffff;
} 

.main-footer-site-navigation-list a:hover {
  text-decoration: underline;
} 

.main-footer-site-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
} 


.main-footer-contacts {
  padding: 0;
  margin: 0;
  
  width: 380px;
  padding-left: 3px;
  margin-right: auto;
}

.main-footer-services {
  display: flex;
  padding-bottom: 49px;
  box-sizing: border-box;
}

.main-footer-services-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  
  padding: 0;
  margin: 0;
  
  width: 540px;
  padding-left: 15px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-footer-services-list li {
  background-color: transparent;
  text-align: center;
}

.main-footer-services-list a {
  color: #ffd180;
}

.main-footer-services-list a:hover {
  text-decoration: underline;
}

.main-footer-services-list a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.bottom-footer {
  background-color: #293449;
  color: #ffffff;
  padding-top: 37px;
  padding-bottom: 30px;
}

.container-copyright-social-mail {
  padding-left: 11px;
  padding-right: 25px;
  
  display: flex;
  justify-content: space-between;
}

.bottom-footer p {
  font-size: 16px;
  line-height: 18px;
  
  padding: 0;
  margin: 0;
}

.bottom-footer .bottom-footer-copyright-mart {
  width: 240px;
  margin-right: 122px;
}

.bottom-footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-wrap: wrap;
  
  width: 135px;
  margin-right: 90px;
}

.social-button {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.social-button-vk {
  background-image: url(../img/vk-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-fb {
  background-image: url(../img/fb-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-instagram {
  background-image: url(../img/insta-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bottom-footer-callback {
  width: 160px;
  margin-right: auto;
}

.bottom-footer-copyright-mail {
  width: 98px;
}

.bottom-footer-callback a,
.bottom-footer-copyright-html a {
  color: #ffd180;
}

.bottom-footer-callback a:hover,
.bottom-footer-copyright-html a:hover {
  text-decoration: underline;
}

.bottom-footer-callback a:active,
.bottom-footer-copyright-html a:active {
  text-decoration: none;
  color: #ee3643;
}


/*КАТАЛОГ*/


.main-header-catalog {
  margin-bottom: 20px;
}

.main-header-user-navigation-catalog {
  list-style: none;
  
  margin: 0;
  padding: 0;
  
  width: 300px;
}

.main-header-user-navigation-catalog a {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.catalog-basket {
  background-color: #ee3643;
}

.main-header-user-navigation-catalog .logout-button {
  display: block;
  position: relative;
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  text-align: center;
  
  background-color: #ffffff;
  
  width: 300px;
  padding: 14px 0;
  padding-right: 20px;
  margin-bottom: 8px;
  
  box-sizing: border-box;
}

.main-header-user-navigation-catalog .logout-button::before {
  content: "";
  position: absolute;
  
  background: url(../img/icon-user.svg) no-repeat 0 0;
  width: 20px;
  height: 18px;
  opacity: 0.3;
  
  left: 14px;
  top: 13px;
}

.main-header-user-navigation-catalog .logout-button:hover::before{
  opacity: 1;
}

.main-header-user-navigation-catalog .logout-button:active::before{
  opacity: 0.3;
}

.main-header-user-navigation-catalog .logout-button::after {
  content: "";
  position: absolute;
  
  background: url(../img/icon-logout.svg) no-repeat 0 0;
  width: 21px;
  height: 17px;
  opacity: 0.3;
  
  left: 269px;
  top: 14px;
}

.main-header-user-navigation-catalog .logout-button:hover::after {
  opacity: 1;
}

.main-header-user-navigation-catalog .logout-button:active::after {
  opacity: 0.3;
}

.main-header-user-navigation-catalog li:not(.logout-button) {
  display: inline-block;
  vertical-align: middle;
}

.main-header-user-navigation-catalog li:nth-child(2) {
  margin-left: 18px;
  margin-right: 27px;
  
  position: relative;
}

.main-header-user-navigation-catalog li:nth-child(2)::after {
  content: "";
  position: absolute;
  
  height: 5px;
  width: 5px;
  
  background-color: #32425c;
  border-radius: 50%;
  
  top: 6px;
  left: 89px;
}
  
.main-header-user-navigation-catalog a:not(.logout-button):hover {
  color: #ee3643;
}

.main-header-user-navigation-catalog a:not(.logout-button):active,
.logout-button span:active {
  opacity: 0.3;
}

.breadcrumbs {
  list-style: none;

  margin: 0;
  padding-left: 0;
  margin-bottom: 21px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  
  margin-right: 26px;
  padding-right: 10px;
  
  position: relative;
}

.breadcrumbs a::after {
  position: absolute;
  content: "";
  
  height: 12px;
  width: 8px;
  
  background: url(../img/icon-right-small.svg) no-repeat 0 0;
  
  top: 2px;
  right: -13px;
}

.breadcrumbs-current a::after {
  display: none;
}

.catalog-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  font-weight: normal;
  
  padding: 0;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 28px;
  margin-bottom: 20px;
}

.filters-and-results {
  display: flex;
}

.filters {
  margin-right: auto;
}

.filters-title {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 19px;
  
  
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-family: PT Sans, Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters-price {
  margin-bottom: 14px;
  
  font-size: 17px;
  line-height: 30px;
  font-family: PT Sans, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.price-indicators {
  width: 100%;

}

.price-indicators-input {
  padding-top: 24px;
  padding-bottom: 30px;
  padding-left: 20px;
  margin-bottom: 9px;
  
  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-indicators-input-buttons {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  position: relative;
  
  width: 20px;
  height: 20px;
  
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #d7dcde;
}

.price-indicators-input-buttons::before {
  content: "";
  position: absolute;
  
  width: 4px;
  height: 4px;
  
  background-color: #ababab;
  border-radius: 50%;
  top: 8px;
  left: 8px;
}

.price-indicators-input-buttons:first-child {
  margin-right: 116px;
}

.price-indicators-input-buttons:first-child::after {
  content: "";
  position: absolute;
  
  width: 124px;
  height: 2px;
  
  background-color: #00ca74;
  top: 9px;
  left: 20px;
}

.price-indicators-input-buttons:last-child::after {
  content: "";
  position: absolute;
  
  width: 20px;
  height: 2px;
  
  background-color: #d7dcde;
  top: 9px;
  left: 20px;
}

.price-indicators-output {
  margin-bottom: 26px;
  
  display: flex;
  justify-content: space-between;
}

.price-indicators-output-area {
  background-color: #f7f3ec;
  padding: 10px 0;
  padding-left: 3px;
  text-align: center;
  font-family: PT Sans, Arial, sans-serif;
  min-width: 95px;
  border-radius: 3px;
  
  position: relative;
  box-sizing: border-box;
}

.price-indicators-output-area:first-child span::after {
  content: "";
  position: absolute;
  
  width: 9px;
  height: 1px;
  
  background-color: #000000;
  top: 19px;
  left: 106px;
}

.filters-form  {
  font-family: PT Sans, Arial, sans-serif;
  text-transform: uppercase;
  
  width: 220px;
}

.filters-form fieldset {
  border: none;
}

.filters-form .manufactures {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.filters-form h3 {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  
  margin: 0;
  padding: 0;
  padding: 16px 0;
  padding-bottom: 14px;
}

.manufactures,
.power {
  padding: 0;
  margin: 0;
}

.power {
  margin-bottom: 59px;
}

.filters-form .manufactures-list,
.filters-form .power-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-form .manufactures-list li,
.filters-form .power-list li {
  margin-bottom: 20px;
}

.filters-form .manufactures-list li:last-child {
  margin-bottom: 22px;
}

.filters-form .manufactures-list-item {
  font-size: 15px;
  line-height: 20px;
  
  position: relative;
  padding-left: 34px;
}

input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  background: url(../img/checkbox-off.svg) no-repeat 0 0;
  
  width: 23px;
  height: 23px;
  
  left: 0;
  top: -1px;
  opacity: 0.2;
}

input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 0.5;
}

input[type="checkbox"]:focus + .checkbox-indicator {
  outline: auto;
}

input[type="checkbox"]:checked + .checkbox-indicator {
  background: url(../img/checkbox-on.svg) no-repeat 0 0;
  
  width: 27px;
  height: 23px;
  left: 0;
}

.filters-form .power-list-item {
  font-size: 15px;
  line-height: 20px;
  
  position: relative;
  padding-left: 34px;
}

input[type="radio"] + .radio-indicator {
  position: absolute;
  background: url(../img/radio-off.svg) no-repeat 0;
  
  width: 25px;
  height: 25px;
  
  left: -1px;
  top: -1px;
  opacity: 0.2;
}

input[type="radio"]:hover + .radio-indicator {
  opacity: 0.5;
}

input[type="radio"]:focus + .radio-indicator {
  outline: auto;
}

input[type="radio"]:checked + .radio-indicator {
  background: url(../img/radio-on.svg) no-repeat 0 0;
  
  width: 25px;
  height: 25px;
  
  left: -1px;
  top: -1px;
}

.filters-form input:disabled  {
  opacity: 0.3;
}

.filters-form .filters-button {
  font-size: 13px;
  line-height: 0;
  text-transform: uppercase;
  text-align: center;
  
  width: 140px;
  padding: 18px 0;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.sorting {
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 17px;
  margin-bottom: 20px;
  
  display: flex;
  flex-wrap: wrap;
  
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f7f3ec;
  box-sizing: border-box;
  border-radius: 3px;
}

.sorting span:first-of-type {
  margin-right: 140px;
}

.sorting-type {
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  min-width: 355px;
}

.sorting-type .sorting-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #c4c1bb;
  
  border-bottom: 1px dotted #ee3643;
}

.sorting-type .sorting-button:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
  
}

.sorting-type .sorting-button-current:hover {
  color: #ee3643;
  border: none;
}

.sorting-type .sorting-button-current,
.sorting-type .sorting-button:active {
  color: #ee3643;
  border: none;
}

.sorting-order {
  margin: 0;
  margin-top: -9px;
  margin-bottom: -8px;
  padding: 0;
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  min-width: 42px;
}

.sorting-order .sorting-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  
  font-size: 0;
  
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #c4c1bb;
}

.sorting-order .sorting-button:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;
}

.sorting-order li:last-child {
  transform: rotate(180deg);
}

.sorting-order .sorting-button-current,
.sorting-order .sorting-button:active {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ee3643;
}

.sorting-order .sorting-button-current:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ee3643; 
}

.results-goods-catalog {
  list-style: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.results .goods-catalog-item,
.popular-goods .goods-catalog-item {
  font-family: PT Sans, Arial, sans-serif;
  
  text-align: center;
  border: 1px solid #e5e5e5;
  width: 220px;
  height: 318px;
  position: relative;
  
  margin-bottom: 20px;
  box-sizing: border-box;
}

.results .goods-catalog-item:hover,
.popular-goods .goods-catalog-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5); 
  background: none;
}

.goods-catalog-item:hover .actions {
  display: block;
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-catalog {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background-color: #ee3643;
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  
  width: 218px;
  min-height: 170px;
  padding-top: 43px;
  
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 10;
}

.actions a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 0;
  
  margin: 0 auto;
  padding: 19px 0;
  width: 135px;
  border-radius: 3px;
  
}

.actions .buy {
  position: relative;
  display: block;
  color: #ffffff;
  
  padding-left: 3px;
  margin-bottom: 8px;
  
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
  box-sizing: border-box;
}

.actions .buy:hover {
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.actions .buy:before {
  content: "";
  position: absolute;
  
  background: url(../img/icon-basket.svg) no-repeat 0 0;
  width: 15px;
  height: 15px;
  
  top: 11px;
  right: 107px;
  
  opacity: 0.3;
}

.actions .buy:hover:before {
  opacity: 1;
}

.actions .buy:active:before {
  opacity: 0.3;
}

.actions .bookmark {
  background-color: #ffffff;
  color: #000000;
  
  padding: 16px 0;
  padding-left: 3px;
  
  display: block;
  border: 3px solid #63a63e;
  
  box-sizing: border-box;
}

.actions .bookmark:hover {
  border-color: #32425c;
}

.actions .bookmark:active {
  opacity: 0.3;
}

.goods-catalog-item .catalog-item-image {
  margin-bottom: 6px;
}

.results .catalog-item-title,
.results p,
.popular-goods .goods-catalog-item,
.popular-goods p {
  margin: 0;
  padding: 0;
}

.results .catalog-item-title {
  margin-bottom: 12px;
}


.catalog-item-title a {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.catalog-item-discount {
  margin-bottom: 10px;
}


.catalog-item-discount del {
  line-height: 0;
  font-weight: bold;
  color: #999999;
}

.catalog-item-price .button-price {
  font-size: 17px;
  line-height: 0;
  font-weight: bold;
  text-align: center;
  
  display: block;
  position: relative;
  
  padding: 19px 0;
  margin: 0 auto;
  
  width: 135px;
  background-color: #ee3643;
  color: #ffffff;
  
  border-radius: 3px;
  box-sizing: border-box;
}

.catalog-item-price .button-price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -25px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.pagination-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  
  display: flex;
}

.pagination-list-item {
  margin-right: 9px;
  padding: 9px 15px;
  display: block;
  
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination-list-item-next {
  padding: 9px 30px;
}

.pagination-list-item-current {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-list-item:not(.pagination-list-item-current):hover {
  border-color: #bdc6ca;
}

.pagination-list-item:not(.pagination-list-item-current):active {
  border-color: #ee3643;
}

.about-perforators {
  padding-top: 65px;
  padding-bottom: 68px;
  background-color: #f2f6f8;
}

.about-perforators h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.about-perforators p {
  padding: 0;
  margin: 0;
  
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}


/* МОДАЛЬНЫЕ ОКНА ГЛАВНАЯ*/


.modal-position {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000070;
  
  width: 100%;
  height: 100%;
  z-index: 100;
  
  display: none;
}

.modal-contact {
  position: relative;
  font-size: 18px;
  
  padding-top: 56px;

  width: 620px;

  background-color: #ffffff;
  color: #000000;

  border-top: 7px solid #ff5357;
  box-shadow: 10px 17px 40px 0px rgba(0, 0, 0, 0.75);
  
  animation-name: modal-contacts-open;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.modal-contact-container {
  width: 460px;
  margin: 0 auto;
}

.contact-form p,
.contact-form label {
  padding: 0;
  margin: 0;
  border: none;
  line-height: 0;
}

.contact-form .fieldset-flexible {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  width: 460px;
  margin-bottom: 7px;
}

.contact-form input {
  margin-top: 20px;
  padding: 5px 0 7px 13px;
}

.contact-form textarea {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 9px 0 0 13px;
}

.contact-form-name .contact-form-name-field, 
.contact-form-email .contact-form-email-field,
.contact-form-message .contact-form-message-field {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

.contact-form-name .contact-form-name-field::placeholder,
.contact-form-email .contact-form-email-field::placeholder,
.contact-form-message .contact-form-message-field::placeholder {
  font-family: PT Sans, Arial, Sans-serif;
  font-size: 13px;
  color: #a9a9a9;
  
}

.contact-form .contact-form-name {
  width: 220px;
  margin-bottom: 20px;
  margin-right: auto;
}

.contact-form .contact-form-email{
  width: 220px;
}

.contact-form .contact-form-message {
  flex-grow: 1;
  margin-top: 10px;
}

.contact-form-message .contact-form-message-field {
  resize: none;
}

.contact-form-button-container {
  background-color: #f4f4f4;
  width: 100%;
  padding: 37px 0;
  margin: 0 auto;
}

.contact-form .button {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  
  padding: 10px 0;
  padding-top: 11px;
  
  background-color: #ee3643;
  border-radius: 5px;
}

.contact-form .button:hover {
  background-color: #ca2c37;
}

.contact-form .button:active {
  background-color: #ba2732;
}

.modal-map {
  position: relative;
  
  width: 940px;
  height: 446px;

  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5); 
  animation-name: modal-map-open;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


/*МОДАЛЬНОЕ ОКНО КАТАЛОГ*/


.modal-cart-add { 
  position: relative;
  width: 620px;
  
  font-size: 14px;
  
  background-color: #ffffff;
  color: #000000;
  border-top: 7px solid #ff5357;
  box-shadow: 10px 17px 40px 0px rgba(0, 0, 0, 0.75);
  
  z-index: 100;
  display: block;
  
  animation-name: modal-map-open;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.modal-cart-add-container {
  width: 460px;
  margin: 0 auto;
}

.modal-cart-add .add-title {
  padding: 80px 0;
  padding-bottom: 83px;
}

.modal-cart-add h2 {
  margin: 0;
  padding: 0;
  line-height: 0;
  
  position: relative;
  font-size: 30px;
  font-weight: normal;
  
  padding-left: 100px;
}

.modal-cart-add h2:before {
  content: "";
  position: absolute;
  
  background: url("../img/form-OK.svg") no-repeat 0 0;
  width: 66px;
  height: 66px;
  
  top: -32px;
  left: 1px;
}

.add-buttons {
  background-color: #f1f1f1;
}

.add-buttons .cart-add-button-list {
  list-style: none;
  padding: 0;
  padding-top: 38px;
  margin: 0;
  
  width: 460px;
  display: flex;
  justify-content: space-between;
}

.finish-button {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  
  width: 220px;
  margin-right: auto;
  padding: 11px 0;
  padding-right: 3px;
  margin-bottom: 35px;
  
  background-color: #ee3643;
  border-radius: 2px;
  
  box-sizing: border-box;
}

.finish-button:hover {
  background-color: #ca2c37;
}

.finish-button:active {
  background-color: #ba2732;
}

.continue-button {
  text-transform: uppercase;
  
  width: 220px;
  margin-right: auto;
  padding: 11px 0;
  padding-right: 3px;
  
  background-color: #ffffff;
  border-radius: 2px;
  border: none;
  
  box-sizing: border-box;
}

.modal-close {
  background: url(../img/red-cross.svg) no-repeat 0 0;
  position: absolute;
  
  font-size: 0;
  border: none;
  
  width: 23px;
  height: 23px;
  
  right: 8px;
  top: 8px;
}

.modal-close:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
}

.modal-show {
  display: block;
}

.modal-position-show {
  display: flex;
}

.modal-contacts-wrong {
  animation-name: modal-contactss-wrong ;
  animation-duration: .5s;
  animation-timing-function: ease;
}


/* АНИМАЦИЯ МОДАЛОК*/


@keyframes modal-contacts-open {
  0% {transform: translateX(1000px)}
  30% {transform: translateX(0)}
  45% {transform: translateX(15px)}
  60% {transform: translateX(0)}
  80% {transform: translateX(3px)}
  100% {transform: translateX(0)}
}

@keyframes modal-map-open {
  0% {transform: scale(0)}
  100% {transform: scale(1)}
}

@keyframes modal-contactss-wrong {
  0% {transform: translateX(0)}
  10%, 30%, 50%, 70%, 90% {transform: translateX(10px)}
  20%, 40%, 60%, 80% {transform: translateX(-10px)}
  100% {transform: translateX(0)}
}